@* Views/Shared/_Layout.cshtml *@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - PymeCo</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <!-- (Opcional pero recomendado si usas clases Bootstrap en tus vistas) -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PymeCo.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/a2b4d3b6b5.js" crossorigin="anonymous"></script>
</head>

<body class="flex flex-col w-screen min-h-screen bg-gray-50 overflow-x-hidden">
    <partial name="_Topbar" />

    <div class="flex flex-1">
        <partial name="_Sidebar" />
        <main class="flex-1 p-6">
            @RenderBody()
        </main>
    </div>

    <partial name="_Footer" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <!-- Global (puede estar vacío) -->
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)


    <!-- Iconos (si los usas) -->
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>lucide.createIcons();</script>
</body>
</html>
